@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	outline:none;
}


body{
	margin: 0;
	font-size: 16px;
	background-color: #143b5c;
	font-family: 'Montserrat', sans-serif; 
	font-weight: 400;
}

/* user info */

myTable {
    background: #6358a0;
    padding: 30px;
    width: 500px;
    margin: auto;
    font-size: 20px;
    color: black;
    font-family:fantasy;
}

.text_1{
    width: 300px; 
}

.user_name{
    position: absolute;
    top: 33%;
    left: 60%;
    color: orange; /* #143b5c */
    font-size: 20px;
    font-weight: bold;
} 

.form1_label {
    display: flex;
    font-weight: 700;
    padding: 0.1%;
    cursor: pointer;
    color:#143b5c; 
}

.form1_group-input {
position: relative;
}

.form1_input {
    width: 30%;
    background: #fff;
    border: 3px solid rgba(153, 176, 209, 0.5);
    border-radius: 10px;
    height: 60px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.form1_input:focus {
	border: 3px solid #143b5c;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.6);
}

.form1_input-error {
	display: none; 
}

.form1_input-error-active {
	display: block; 
}
            /* ok and incorrect nickname */
.form1_validation-status {
    position: relative;
    right: 15%;
    bottom: 55%;
    z-index: 100;
    font-size: 14px;
    opacity: 0;  
}

/*    form trial      */
.form_input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}
/*     form trial     */
.form_input-error-active {
	display: block;
}

/* , remove in between */
.form_group-input .form_input-error {
    font-size: 0.7rem; /* 10px */
}
/* , remove in between */
.form2_label .form_input-error {
        font-size: 0.7rem; /* 10px */
}

.form_mens {
	height: 30px;
	line-height: 30px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.form_mens-active {
    display: block;
}

.form_mens p {
	display: block;
}

.form_mens p {
	margin: 0;
}


.form_mens-ok {
	flex-direction: column;
    align-items: center;
    font-size: 0.7rem;
    color: #119200;
    display: none;
    }

.form_mens-ok-active {
    display: block;
}

/* VALIDATION INPUTS */
.form1_group-ok .form1_validation-status {
    color: #1ed12d;
    opacity: 1;
}

.form1_group-nok .form1_label {
    color: #bb2929;
}

.form1_group-nok .form1_validation-status {
    color: #bb2929;
    opacity: 1;
}

.form1_group-nok .form1_input .form1_input:focus {
	border: 3px solid #bb2929; 

}

  /* 2nd form before results */
.form_group-ok .form_validation-status {
    color: #1ed12d;
    opacity: 1;
}

.form_group-nok .form_label {
    color: #bb2929;
}

.form_group-nok .form_validation-status {
    color: #bb2929;
    opacity: 1;
}

.form_group-nok .form_input .form_input:focus {
	border: 3px solid #bb2929; 

}
/*    end of 2nd form before results */








/* end of user info */



.custom_box{
	max-width: 700px;
	background-color: #f8e19f;  /* #fffff #b9ff07*/
	margin: 49px auto;
	padding: 30px;
	border-radius: 10PX;
	animation: fadeInRight 2s ease;
}
@keyframes fadeInRight{
	0%{
		transform: translateX(40px);
		opacity: 0;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}
.custom_box::before,
.custom_box::after
{
	content: '';
	clear: both;
	display: table;
}

.custom_box.hide{
	display: none;
}

.home_box h3{
	font-size: 18px;
	color:#143b5c;
	font-weight:500;
	margin-bottom: 15px;
	line-height: 25px; 
}

.home_box p{
	font-size: 14px;
	margin-bottom: 10px;
	line-height:22px;
	color:#000000;
	font-weight:500;
}

.home_box p span{
	font-weight: 500;
}

.home_box .btn{
	margin-top: 20px; 
}

.btn{
	padding: 15px 45px;
	background-color: #143b5c;
	color: #ffffff;
	border:none;
	border-radius:5px;
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
	cursor:pointer;
	display: inline-block;
}

/* hover effect - buttons - */
.btn:hover{
    box-shadow: 3px 0px 30px rgb(100, 139, 201);
}

.quiz_box .question_number,
.quiz_box .question_text,
.quiz_box .option_container,
.quiz_box .next_question_btn,
.quiz_box .answer_indicator{
	width: 100%;
	float: left;
}

.quiz_box .question_number{
	font-size: 18px;
	color:#143b5c;
	font-weight: 600;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
	line-height: 25px;
    margin: 0; /* new */
}

.quiz_box .question_text{
	font-size: 22px;
	color:#000000;
	line-height: 28px;
	font-weight: 400;
	padding: 20px 0;
	margin: 0;   /* new or to be checked */
}

.quiz-box .opt-container{
	cursor: pointer;
}

.quiz_box .option_container .option{
	background-color: #cccccc;
	padding:13px 15px;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	border-radius: 5px;
	margin-bottom: 10px;
	/* cursor: pointer;               removed from here to above*/
	text-transform: capitalize;
	opacity: 0;
	animation: fadeIn 0.3s ease forwards;
	position: relative;
	overflow: hidden;
}
.quiz_box .option_container .option.aready_answered{
	pointer-events: none;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.quiz_box .option_container .option.correct::before{
	content: '';
	position: absolute;
	left:0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: green;
	z-index: -1;
	animation: slideInLift 0.2s ease forwards
}
@keyframes slideInLift{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(0%);
	}
}

/* red and green colours for answers - new */
.quiz_box .option_container .option.wrong::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: red;
	z-index: -1;  
	animation: slideInLeft 5.5s ease forwards
}

/* end of red and green colours for answers - new*/

.quiz_box .option_container .option.correct{
	color: #ffffff;
}
/* red and green colours for answers */
.quiz_box .option_container .option.wrong{
	color: white;
}
/* end of red and green colours for answers - new*/
.quiz_box .btn{
	margin: 15px 0;
}

.quiz_box .answer_indicator{
	border-top: 1px solid #cccccc;

}

.quiz_box .answer_indicator div{
	height: 48px;
	width: 48px;
	display: inline-block;
	background-color: #cccccc;
	border-radius: 5%;
	margin-right:3px;
	margin-top: 15px;
}

.quiz_box .answer_indicator div.correct{
	background-color: green;
	background-image: url("../image/correct1.gif"); /* new */
	background-size: 45px 45px;                          /* new 50% */
	background-repeat: no-repeat;                  /* new */
	background-position: center;                   /* new */
}   

.quiz_box .answer_indicator div.wrong{
	background-color: red;                         /* new */
	background-image: url("../image/wrong1.gif");         /* new */
	background-size: 45px 45px;                  /* new 50% */
	background-repeat: no-repeat;              /* new */
	background-position: center;               /* new */
}



.result_box{
	text-align: center;
}

.result_box.hide{
	display: none;
}

.result_box h1{
	font-size: 36px;
	line-height: 42px;
	color: #143b5c;
}
.result_box table{
	width: 100%;
	border-collapse: collapse;
	margin:30px 0;
}
.result_box table td{
	border:1px solid #143b5c;
	padding: 8px 15px;
	font-weight: 500;
	color: #000000;
	width: 50%;
	text-align: left;
	font-size: 18px;
}
.result_box .btn{                   
	margin-right: 20px;         
}

/* Media-Queries */
@media (max-width: 768px){      /* new */
	.home_box,
    .custom_box, 
    .result_box,
    .btn {
        margin-bottom: 15%;   /* new */
	}
	body{                      /* new */
		padding: 15%;         /* new */
		}                     /* new */
}                               /* new */

                              /* new */

