/* Google font API */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    color: blue;
    font-size: 18px;
}
:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;  
    --background-color: #da41df;
    --box-shadow: rgb(255, 255, 0) 0px 4px 16px, rgb(17 17 26) 0px 8px 32px; 
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #4670fc; 
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.container1 {
    
    background-color: yellow;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 16px 15px 15px 1px rgb(126 91 146); 
    width: 400px;
    }

.container {


    background-color: yellow; 
    padding: 1em;
    border-radius: 5px;
    box-shadow: 16px 15px 15px 1px rgb(126 91 146);  
    width: 400px;
}
.form {
    padding: 10px 20px;
}

.form h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;

}

.form-field {
    margin-bottom: 5px;

}
    
.form-field label {
    display: block;
    color: #000000;  
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    }

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color); 
}

.form-field.success input {
    border-color: var(--success-color); 
}

.form-field small {
    color: var(--error-color); 
}

/* button */
.btn {
    width: 100%;
    padding: 3%;
    background: #007bff;
    border-bottom: 2px solid #007bff;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    text-transform: uppercase;
}

.btn:hover {
    background: #0069d9;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.sendnickname {
    font-size: 25px;
    background-color: rgba(79, 59, 232, 0.8);
    color: yellow;
    border-radius: 12px;
    width: 100%;
    height: 60px;
}


/* color to the cell */
input {
    background-color: aliceblue; 
    font-size: 14px;
    margin-bottom: 5px;
    width: 100%;
    margin-right: 30%;
    height: 30px;

}

.container, .container1 {
    margin: 0 auto;
    width: 65%;
    background-color: #ccd9ca; 
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: var(--box-shadow);
    background-color: #b8bbd7; 
    border-radius: 18px;
    margin-top: 2%;
}

a:-webkit-any-link {
    color: rgb(255, 230, 10);
    background-color: #a428a8;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}

.returnmainweb {
    font-size: 18px;
    background-color: rgb(177 39 159 / 93%);
    color: yellow; /*  rgb(246, 242, 26);  */
    width: 100%;
    height: 60px;
    border-width: 11px;
    border-color: rgb(223 60 171);
    margin-bottom: 15%;
    border-radius: 12px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .body {
      width: 100%;
      flex-direction: column-reverse;
    }
    .form {
      width: 100%;
    }
  }
